<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Alteração Cliente</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
        <div class="navbar-nav">
            <h3 class="m-lg-3">EasyCharge</h3>
        </div>
        <a href="/listaCliente"><button class="btn btn-outline-secondary my-2 my-sm-0 m-lg-2">Voltar</button></a>
    </nav>
    
    <div class="container">
        <div class="jumbotron mb-0">
            <h1 class="display-4">Alterar Cliente</h1>
        </div>
        <div class="card mt-3 mb-4">
            <form class="card-body bg-light" th:object="${clienteDTO}" action="/cliente/alterarCliente" method="post">
                <div class="form-group">
                    <input hidden th:field="*{id}" class="form-control" placeholder="id do cliente">
                </div>
                <h4>Dados Pessoais</h4>
                <div class="row g-3">
                    <div class="form-group col-8">
                        <label for="nome">Nome Cliente</label>
                        <input th:field="*{nome}" th:errorclass="is-invalid" class="form-control" placeholder="nome do cliente" data-tipo="nome" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{nome}">Erros do nome do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cpf">CPF</label>
                        <input th:field="*{cpf}" th:errorclass="is-invalid" class="form-control" maxlength="14" placeholder="___.___.___-__" data-tipo="cpf" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{cpf}">Erros do cpf do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="telefone">Telefone</label>
                        <input type="tel" th:field="*{telefone}" th:errorclass="is-invalid" class="form-control" placeholder="( ) 9____-____" pattern="\(?\d{2}\)?\s?9\d{4}-?\d{4}" data-tipo="telefone" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{telefone}">Erros do telefone do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="email">Email</label>
                        <input type="email" th:field="*{email}" th:errorclass="is-invalid" class="form-control" placeholder="fulano@gmail.com" data-tipo="email" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{email}">Erros do email do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="profissao">Profissão</label>
                        <input th:field="*{profissao}" th:errorclass="is-invalid" class="form-control" placeholder="profissão do cliente" data-tipo="profissao" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{profissao}">Erros do profissao do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="renda">Renda</label>
                        <input th:field="*{renda}" th:errorclass="is-invalid" class="form-control" placeholder="000.00" data-tipo="renda" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{renda}">Erros do renda do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="status">Status do cliente</label>
                        <!--<input th:field="*{statusCliente}" class="form-control" placeholder="ATIVO ou SUSPENSO" required>-->
                        <select th:field="*{status}" class="form-control" required>
                            <option value="SUSPENSO">SUSPENSO</option>
                            <option value="ATIVO">ATIVO</option>
                        </select>
                    </div>
                    <h4 class="pt-3">Endereço</h4>
                <div class="row g-3">
                    <div class="form-group  col-md-4">
                        <label for="rua">Rua</label>
                        <input th:field="*{rua}" th:errorclass="is-invalid" class="form-control" placeholder="Av.Fulano de tal" data-tipo="rua" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{rua}">Erros do rua do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="numero">Número</label>
                        <input th:field="*{numero}" th:errorclass="is-invalid" class="form-control" placeholder="25" data-tipo="numero" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{numero}">Erros do numero do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="complemento">Complemento</label>
                        <input th:field="*{complemento}" class="form-control" >
                    </div>
                    <div class="form-group col-md-4">
                        <label for="bairro">Bairro</label>
                        <input th:field="*{bairro}" th:errorclass="is-invalid" class="form-control" data-tipo="bairro" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{bairro}">Erros do bairro do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cidade">Cidade</label>
                        <input th:field="*{cidade}" th:errorclass="is-invalid" class="form-control" data-tipo="cidade" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{cidade}">Erros do cidade do cliente</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="estado">Estado</label>
                        <input th:field="*{estado}" th:errorclass="is-invalid" class="form-control" data-tipo="estado" required>
                        <div class="invalid-feedback">
                            <span th:errors="*{estado}">Erros do estado do cliente</span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mt-3" type="submit">Alterar</button>
            </form>
        </div>
    </div>
    <script src="/dist/js/app.js" type="module"></script>
</body>
</html>