<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de clientes</title>
</head>
<body>
    <table th:each="cliente : ${clientes}">
        <tr>
            <th>Nome do Cliente: </th> 
            <th>CPF: </th>
            <th>Telefone: </th>
            <th>Status: </th>
            <th>Email: </th>
            <th>Profissão: </th>
            <th>Renda: </th>
            <th>Local: </th>
        </tr>
        <tr>
            <td><span th:text="${cliente.nome}">nome</span></td>>
            <td><span th:text="${cliente.cpf}">cpf</span></td>>
            <td><span th:text="${cliente.telefone}">telefone</td>
            <td><span th:text="${cliente.status}">status</span></td>
            <td><span th:text="${cliente.email}">email</span></td>
            <td><span th:text="${cliente.profissao}">profissao</span></td>
            <td><span th:text="${cliente.renda}">renda</span></td>
            <td><span th:text="${cliente.endereco.cidade}">local</span>/<span th:text="${cliente.endereco.estado}"></span></td>
        </tr>
    </table>
</body>
</html>